body {
    background-color: rgb(255, 127, 127);
    font-family: 'oswald';
    margin: 0px;
    animation-name: 'changec';
    animation: changec 10s infinite;
}

@keyframes changec {
    0% {
        background-color: rgb(255, 127, 127);
    }

    50% {
        background-color: rgb(164, 2, 2);
    }

}

.header {
    display: flex;
    width: 100%;
    height: 150px;
    background-color: black;
    justify-content: center;
}
/*---------------\/(navagation bar)Just below the Header\/----------------*/
.navbar p {
    display: flex;
}

.navbar {
    z-index: 1;
    top: 0;
    position: sticky;
    display: flex;
    background-color: rgb(74, 64, 64);
    border: solid rgb(114, 106, 106);
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    text-align: center;
}

.navbar a:hover {
    background-color: white;
    color: rgb(202, 7, 137);
    transition: .6s;
}

#maina {
    text-decoration: underline white;
}
/*--------------------------\/CONTENT\/--------------------------------*/
.thecontent{
}
.imagebase {
    display: flex;
    justify-content: center;
    height: 350px;
    margin-top: 20px;
}

.thecontent h1 {
    margin: 0px;
}
.subcenter h1{
    font-size: 30px;
}
#subt {
    font-size: 26px;
    margin: 0px;
    margin-bottom: 0px;
}

#subp {
    margin-bottom: 0px;
}

.subcenter {
    display: flex;
    justify-content: center;
}

.subheader {
    margin-top:15px;
    text-align: center;
}

/*-----------------------------\/SALE BASE\/------------------------*/

.salebase {
    height: fit-content;
    width: 100%;
    background-image: url(shoes.png);
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.salecon {
    width: fit-content;
    height: 150px;
    color: white;
    position: relative;
    font-size: 100px;
    color: rgb(255, 235, 12);
    animation: salecolor 2s infinite;
    margin-top: 0px;
    margin-bottom: 0px;
}

@keyframes salecolor {
    0% {
        opacity: 0;
    }

    50% {
        color: rgb(255, 235, 12);
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


@media only screen and (max-width: 761px) {
    .salecon {
        font-size: 40px;
    }
    .salebase{
        height: 60px;
    }
}
/*--------------------------\/IMAGES\/--------------------------------*/
.images {
    display: flex;
    justify-content: space-evenly;
    height: 340px;
    margin-bottom: 0px;
}

.images img {
    position: relative;
    width: 100%;
    height: 100%;
}

.imagesp1,
.imagesp2,
.imagesp3,
.imagesp4 {
    width: 100%;
    height: 200px;
    position: relative;
    display: inline-block;
    margin: 10px;
    margin-bottom: 0px;

}

/*-----\/Individual images\/----*/
.imagesp1 #imgp1 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.7s ease
}

.imagesp2 #imgp2 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.7s ease
}

.imagesp3 #imgp3 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.7s ease
}

.imagesp4 #imgp4 {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.7s ease
}

/*--------\/Images on hover\/--------*/
.imagesp1:hover #imgp1 {
    display: block;
    opacity: 1;
}

.imagesp2:hover #imgp2 {
    opacity: 1;
}

.imagesp3:hover #imgp3 {
    opacity: 1;
}

.imagesp4:hover #imgp4 {
    opacity: 1;
}

#impgp1 {
    transition: 12s;
}

/*-----------------------\/image texts\/-----------------------------*/
.infobelow {
    background-color: rgba(255, 255, 255, 0.834);
    height: 100px;
    width: 100%;
    margin-top: 0px;
    position: relative;
    top: -5px;
    text-align: center;
}

#shoename,
#shoeprice {
    position: relative;
    top: 10px;
}
/*---------------------------\/Info boxes\/------------------------------*/
.boxfoundation{
    display: flex;
    justify-content: space-evenly;
}
.outerbox{
}
.box1{
    background-color: black;
    width: 300px;
    height: 300px;
    border-radius: 15px;
    border: solid aliceblue;
    text-align: center;
    overflow: auto;
}
.box2 {
    background-color: rgb(103, 102, 102);
    width: 300px;
    height: 300px;
    border-radius: 15px;
    border: solid aliceblue;
    text-align: center;
    overflow: auto;
}
.box3 {
    background-color: rgb(15, 88, 157);
    width: 300px;
    height: 300px;
    border-radius: 15px;
    border: solid aliceblue;
    text-align: center;
    overflow: auto;
}

/*---------------Content of boxes\/------------------*/
#boxheading{
    font-size: 40px;
    color: aliceblue;
    text-decoration: underline white;
}
#contp{
    color: aqua;
    font-size: 25px;
}

/*----------------------------\/Form/Inquiry\/------------------------------*/
#aboveform{
    margin: 0px;
    margin-top: 40px;
    position: relative;
}

.userinquiry {
    bottom: 0px;
    position: relative;
    float: inline-end;
    width: 100%;
    height: 155px;
    background-color: grey;
}
.enquiryheader{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}
.userinquiry h1 {
    height: 10px;
    margin-top: 5px;
    margin-bottom: 0px;
    text-decoration: underline solid black;
}
form {
    display: flex;
    justify-content: center;
    height: 65%;
}

#inquiry {
    width: 250px;
    height: 100%;
    margin: 0px;
    margin-right: 2px;
}


.userinquiry h1 {
    width: 200px;
    height: 40px;

    margin: 0px;
}
#form1 {
    height: fit-content;
}

#message {
    height: 100px;
    margin-right: 6px;
}
#formsubmit {
    height: 25px;
    width: 100%;
    margin-bottom: 0px;
    margin-top: 6px;
}

#formsubmit:hover {
    background-color: rgb(61, 242, 61);
    transition: 2s;
    cursor: pointer;
}


/*----------------------\/custom alert user on submit\/--------------------*/

/*---styling the box/background of the alert---*/

.customalert {
    position: fixed;
    background-color: rgb(210, 197, 197);
    border: solid rgb(103, 93, 93);
    left: 33%;
    top: 25%;
    height: 300px;
    width: 400px;
    text-align: center;
    z-index: 2;
    display: none;
}

/*----\/the content in the alert\/-----*/
.cont, #cont1, #cont2{
    position: relative;
    height: 44px;
    font-size: 30px;
    margin-bottom: 0px;
}
.cont,
#cont1,
#cont2 br{
    height: 20px;
}
.exbutton {
    position: relative;
    font-size: 40px;
    border-radius: 15px;
    float: inline-end;
}
.exbutton:hover{
    cursor: pointer;
    background-color: rgb(61, 242, 61);
    transition: 2s;
}

/*-------------------------Making it responsive for phones--------------*/
@media only screen and (max-width:1000px){
    /*------The info Boxes------*/
    .boxfoundation{
        display: block;
    }
    .outerbox{
        height: fit-content;
            margin-top: 10px;
            margin-bottom: 10px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
    }
    .box1, .box2, .box3{
        position: relative;
            height: fit-content;
            width: 800px;
            border-radius: 15px;
    }
    #contp, #boxheading{
            width: 400px;
            margin: auto;
            font-size: 26px;
            font-family: oswald;
            text-align: center;
    
    }
    #contp{
        font-size: 60px;
    }
    #boxheading{
        font-size: 100px;
    }
    /*----------------The inquiry--------------*/
        .userinquiry {
            position: relative;
            height: fit-content;
            width: 100%;
            display: flex;
            flex-direction: column;

            
        }
    
    #message{
        width: 80%;
        height: 200px;
        margin: 0px;
        position: relative;
        margin-bottom: 10px;
    }
    #formp1{
        font-size: 20px;
    }
    #formp1 label{
        position: relative;
        left: 15%;
    }
    #name,#email,#number{
        position: relative;
        left: 15%;
        width: 40%;
        height: 60px;
        border-radius: 6px;
        font-size: 18px;
        margin-bottom: 10px;
        overflow: auto;
    }
    
    .row{
        height: fit-content;
        width: fit-content;
    }
    .cent3{
    }
    .row2{
        position: relative;
        height: fit-content;
        width: 83%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        left: 17%;
    }
    #formsubmit{
        position: relative;
        left: 10%;
        height: 45px;
        width: 60%;
        margin-bottom: 20px;
    }
}